* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: rgb(247, 239, 230);
}

.avatar-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
